html body{
    background-color: rgb(35, 35, 35);
    
}

li{
    outline: none;
}

nav{
    display: none;
}

#menu-button{
    background: white;
    width: 32px;
    height: 32px;
    border-radius: 10%;
}

#list{
    display: flex;
    color: white;
    font-size: 35px;
    justify-content: center;
}